@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333;
	background-color: #E5E5E5;
}

a {
  text-decoration: none;
  color: inherit;
}

.h3-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

ul {
	padding: 0;
	list-style: none;
}

.main, .container {
	max-width: 1920px;
	margin: 0 auto;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding-left: 70px;
  padding-right: 86px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__item {
  display: block;
  margin-left: 71px;
  margin-top: 6px;
}

.header__item:nth-last-child(2) {
  margin-left: 72px;
}

.header__item:nth-child(2) {
  margin-left: 72px;
}

.header__item_width_wide{
  padding: 0 28px;
}

.main {
  padding-top: 1px;
  padding-left: 75px;
  padding-right: 75px;
  background: linear-gradient(#f0f0f0, #fff 135px);
}

.general {
  height: 620px;
  background-image: url(../img/low-angle-photo-of-balconies.jpg);
  background-repeat: no-repeat;
}

.general__content {
  width: 55%;
  padding-left: 78px;
  color: #fff;
}

.general-content__title {
  display: block;
  font-weight: 800;
  font-size: 70.3742px;
  line-height: 86px;
  padding-top: 104px;
}

.general-content__desc {
  padding-top: 18px;
  font-weight: 700;
  font-size: 23.49px;
  line-height: 30px;
}

.general-content__button {
  width: 280px;
  height: 80px;
  margin-top: 95px;
  margin-left: 3px;
  padding-top: 3px;
  color: #fff;
  background-color: #ff9900;
  border: none;
  font-weight: 700;
  font-size: 25.7px;
  line-height: 29px;
}

.h2-title {
  display: block;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.about {
  margin-top: 98px;
}

.about__title {
  padding-left: 2.5px;
}

.about__text {
  width: 69.5%;
  margin-top: 21px;
  line-height: 32px;
}

.about-text__title{
  background-image: url(../img/i-titul.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 26px;
}

.about__content {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 622px;
}

.about-content-aside {
  position: relative;
  width: 870px;
  height: 622px;
  margin-right: 30px;
}

.about-content-aside__footer {
  position: absolute;
  bottom: 0;
  height: 176px;
  background-image: url(../img/worker-footer.png);
  background-repeat: no-repeat;
}

.aside-footer {
  display: flex;
  align-items: center;
  width: inherit;
  padding-left: 54px;
  color: #fff;
  font-weight: 700;
  line-height: 32px;
}

.aside-footer__desc {
  width: 497px;
}

.aside-footer__btn {
  margin-left: 76px;
  margin-top: 0px;
  padding: 12px 36px 10px 35px;
  border: solid 3px #ff9900;
}

.about-item {
  width: 870px;
  height: 295px;
  border: 1px solid #CACACA;
  display: flex;
  align-items: flex-start;
  padding-left: 82px;
}

.about-item:nth-child(2) {
  margin-top: 2px;
  padding-top: 57px;
}

.about-item:nth-child(2) .about-item__content {
  margin-top: 12px;
  margin-left: 22px;
}

.about-item:last-child {
  margin-top: 30px;
  padding-top: 49px;
}

.about-item:last-child .about-item__content {
  margin-top: 17px;
  margin-left: 28px;
}

.about-item__content {
  width: 452px;
}

.about-item__text {
  line-height: 32px;
  margin-top: 5px;
}

.work {
  margin-top: 124px;
  margin-left: 2px;
}

.work__title {
  margin-left: -3px;
}

.work__content {
  display: flex;
  flex-flow: column wrap;
  height: 580px;
}

.work__list {
  display: flex;
  margin-top: 48px;
}

.work__item {
  margin-right: 90px;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.work__item_active {
  color: #ff9900;
}

.work-desc__title {
  margin-top: 46px;
}

.work-desc__text {
  margin-top: 5px;
  width: 758px;
  line-height: 32px;
}

.work-desc__btn {
  margin-top: 82px;
}

.work-desc__btn-left {
  background-color: #ff9900;
  color: #fff;
  border: solid 1px #ff9900;
  padding: 20px 38px 19px 38px;
  font-size: 16px;
  font-weight: 600;
}

.work-desc__btn-right {
  margin-left: 26px;
  border: solid 1px;
  padding: 20px 37px 19px 37px;
}

.work__img {
  margin-top: 126px;
  margin-left: 142px;
}
