@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333;
	background-color: #E5E5E5;
}

a {
  text-decoration: none;
  color: inherit;
}

.h3-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

ul {
	padding: 0;
	list-style: none;
}

.btn_orange {
  background-color: #ff9900;
  border: solid 1px #ff9900;
  color: #fff;
}

.btn_orange:hover {
  background: rgba(255, 153, 0, 0.6);
  border-color:transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.main, .container {
	max-width: 1920px;
	margin: 0 auto;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-left: 70px;
  padding-right: 86px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header__nav {
  display: flex;
  height: 50%;
}

.header__item {
  display: flex;
  height: 100%;
  margin-right: 71px;
  margin-top: 3px;
  align-items: center;
}

.header__item:hover {
  border-bottom: solid 2px #ff9900;
}

.header__item:nth-last-child(2) {
  margin-left: 1px;
}

.header__item:nth-child(2) {
  margin-left: 1px;
}

.header__item_width_wide{
  width: 116px;
  justify-content: center;
}

.header__search {
  background: url(../img/search.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  margin-top: 15px;
}

.header__search:hover {
  background: url(../img/search-orange.svg);
  background-repeat: no-repeat;
}

.main {
  padding-top: 1px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 85px;
  background: linear-gradient(#f0f0f0, #fff 135px);
}

.general {
  height: 620px;
  background-image: url(../img/low-angle-photo-of-balconies.jpg);
  background-repeat: no-repeat;
  position: relative;
}

.general__content {
  width: 896px;
  padding-left: 78px;
  color: #fff;
}

.general-content__title {
  display: block;
  font-weight: 800;
  font-size: 70.3742px;
  line-height: 86px;
  padding-top: 104px;
}

.general-content__desc {
  padding-top: 18px;
  font-weight: 700;
  font-size: 23.49px;
  line-height: 30px;
}

.general-content__btn {
  width: 280px;
  height: 80px;
  margin-top: 95px;
  margin-left: 3px;
  padding-top: 3px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
}

.general-content__btn:focus {
  outline: none;
}

.h2-title {
  display: block;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.about {
  margin-top: 98px;
}

.about__title {
  padding-left: 2.5px;
}

.about__text {
  width: 69.5%;
  margin-top: 21px;
  line-height: 32px;
}

.about-text__icon {
  background-image: url(../img/i-titul.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 26px;
}

.about__content {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 622px;
}

.about-content-aside {
  position: relative;
  width: 870px;
  height: 622px;
  margin-right: 30px;
}

.about-content-aside__img {
  height: 622px;
  background-image: url(../img/worker.jpg);
}

.about-content-aside__footer {
  position: absolute;
  bottom: 0;
  height: 176px;
  background-image: url(../img/worker-footer.png);
  background-repeat: no-repeat;
}

.aside-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  padding-left: 54px;
  padding-right: 67px;
  color: #fff;
  font-weight: 700;
  line-height: 32px;
}

.aside-footer__desc {
  width: 497px;
}

.aside-footer__btn {
  padding: 12px 36px 10px 35px;
  border: solid 3px #ff9900;
}

.aside-footer__btn:hover {
  background-color: #ff9900;
}

.about-item {
  width: 870px;
  height: 295px;
  border: 1px solid #CACACA;
  display: flex;
  align-items: flex-start;
  padding-left: 82px;
}

.about-item:nth-child(2) {
  margin-top: 2px;
  padding-top: 57px;
}

.about-item:nth-child(2) .about-item__content {
  margin-top: 12px;
  margin-left: 22px;
}

.about-item:last-child {
  margin-top: 30px;
  padding-top: 49px;
}

.about-item:last-child .about-item__content {
  margin-top: 17px;
  margin-left: 28px;
}

.about-item__content {
  width: 452px;
}

.about-item__text {
  line-height: 32px;
  margin-top: 5px;
}

.work {
  margin-top: 125px;
  margin-left: 2px;
}

.work__title {
  margin-left: -3px;
}

.work__content {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
}

.work__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
  width: 469px;
}

.work__item {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.work__item_active {
  color: #ff9900;
}

.work-desc__title {
}

.work-desc__text {
  margin-top: 5px;
  width: 758px;
  line-height: 32px;
}

.work-desc__btn {
  margin-top: 82px;
}

.work-desc__btn-left {
  padding: 20px 38px 19px 38px;
  font-size: 16px;
  font-weight: 600;
}

.work-desc__btn-right {
  margin-left: 26px;
  border: solid 1px;
  padding: 20px 37px 19px 37px;
}

.work-desc__btn-right:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.work__img {
  width: 870px;
  height: 465px;
  background-image: url(../img/workplace.jpg);
  margin-right: -2px;
  margin-top: 10px;
}

.questions {
  margin-top: 86px;
}

.questions__title {
  padding-left: 2px;
  padding-bottom: 38px;
  position: relative;
}

.questions-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
  padding-left: 5px;
}

.questions__control {
  width: 50px;
  height: 50px;
  background-image: url(/img/+х.png);
  background-repeat: no-repeat;
  margin-right: 2px;
  margin-top: -8px;
}

.questions__control:hover {
  background-image: url(/img/+х-active.png);
  cursor: pointer;
}

.questions__item {
  position: relative;
}

.questions-item:nth-last-child(-n+2) .questions__control {
  margin-top: -8px;
}

.questions-item:nth-last-child(3) .questions__control {
  margin-top: -7px;
}

.questions-item__title {
  position: relative;
  padding-bottom: 45px;
}

.questions-item:nth-last-child(3) .questions-item__title {
  margin-top: 1px;
}

.questions__title .questions-item__border {
  margin-left: 3px;
}

.questions-item__slash_grey {
  color: #cacaca;
}

.questions-item__border {
  position: absolute;
  bottom: 0;
  width: 1763px;
  border-bottom: solid 1px #cacaca;
}

.questions-item:nth-last-child(4) .questions-item__border {
  bottom: -1px;
}

.footer {
  height: 630px;
  background-color: #222;
  padding-top: 48px;
  padding-left: 75px;
  padding-right: 94px;
  padding-bottom: 80px;
  display: flex;
  /* flex-flow: column wrap; */
  color: #cacaca;
}

.footer-left {
  width: 355px;
}

.footer-left__text {
  line-height: 32px;
  margin-top: 2px;
}

.footer-left__list {
  display: flex;
  margin-top: 43px;
}

.footer-left__item:first-child {
  margin-left: -1px;
}

.footer-left__item {
  margin-right: 25px;
}

.footer__center {
  width: 570px;
  margin-left: 245px;
  margin-top: 10px;
}

.form__title {
  margin-left: -2px;
}

.form__input {
  width: 100%;
  height: 60px;
  border: none;
  background-color: #414141;
  margin-bottom: 25px;
  padding-top: 3px;
  padding-left: 24px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #cacaca;
}

.form__input_fio {
  margin-top: 22px;
}

.form__message {
  height: 150px;
  padding-top: 15px;
  resize: none;
}

.form__foter {
  margin-top: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__btn {
  padding: 20px 52px 18px 51px;
  font-size: 16px;
  font-weight: 700;
}

.form__label {
  margin-left: 20px;
  padding-right: 1px;
  padding-top: 2px;
  cursor: pointer;
}


.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  border: solid 1px #cacaca;
  margin-top: 2px;
}

.form__checkbox:checked {
  background: url(/img/checked.png) center center no-repeat;
}

.item_outline_none:focus {
  outline: 0;
  /* outline-offset: 0; */
}

.footer__right {
  width: 251px;
  margin-left: auto;
  margin-top: auto;
  padding-bottom: 113px;
}


.footer-right__logo {
  display: none;
  width: 224px;
  height: 72px;
  background-image: url(../img/logo-footer.png);
}

.footer-right__list {
  display: none;
  margin-top: 24px;
}

.footer-right__item:first-child {
  margin-left: -1px;
}

.footer-right__item {
  margin-right: 25px;
}

.footer-nav {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.footer-nav__link {
  display: block;
  margin-top: 14px;
}

.footer-nav__link:nth-last-child(2)::after {
  content: "Конфиденциальность";
}


.link:hover,  .link:hover .questions-item__slash_grey{
  color: #ff9900;
  cursor: pointer;
}

.header__burger {
  display: none;
}

.line-1, .line-2, .line-3 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 7px 0;
  /* transition: 0.3s; */
}

.header__logo {
  width: 224px;
  height: 72px;
  background-image: url(../img/logo-header.svg);
}

.general__bullets {
  position: absolute;
  bottom: 30px;
  margin-left: 420px;
  display: none;
}

.general-bullets__item {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 1px transparent;
  border-radius: 7px;
}

.general-bullets__item_active {
  background-color: #fff;
}

.general-bullets__item:hover {
  cursor: pointer;
  border-color: #fff;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 16px;
    line-height: 20px;
    z-index: 1;
    position: relative;
  }

  .main {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 85px;
  }

  .header__logo {
    width: 150px;
    height: 48px;
    background-image: url(../img/logo-header1024.png);
  }

  .header__item {
    margin-right: 59px;
  }

  .header__item:nth-last-child(2) {
    margin-right: 77px;
  }

  .header__item:first-child {
    margin-right: 57px;
  }

  .header__item_width_wide{
    width: 54px;
  }

  .header__nav {
    margin-left: auto;
    margin-top: -2px;
  }

  .header__search {
    margin-right: 29px;
  }

  .header__burger {
    display: block;
  }

  .general {
    margin-top: -101px;
    height: 768px;
    background-image: url(../img/low-angle-photo-of-balconies-1024.jpg);
  }

  .general__content {
    width: 742px;
    padding-left: 45px;
}
  .general-content__title {
    padding-top: 260px;
    font-size: 60px;
    line-height: 73px;
  }

  .general-content__desc {
    padding-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }

  .general-content__btn {
    width: 287px;
    margin-top: 110px;
    margin-left: 0;
    padding-top: 1px;
    font-size: 24px;
    line-height: 29px;
  }

  .general__bullets {
    display: flex;
  }

  .about {
    margin-top: 59px;
  }

  .about__title {
    padding: 0;
    margin-left: -3px;
  }

  .about__text {
    width: auto;
    font-size: 16px;
    line-height: 32px;
    margin-top: 25px;
    padding-left: 0px;
    margin-left: -1px;
  }

  .about-text__icon {
    padding-right: 21px;
    margin-right: 4px;
  }

  .about__content {
    flex-wrap: nowrap;
    margin-top: 59px;
    height: auto;
  }

  .about-content-aside__img {
    height: 640px;
    width: 924px;
    background-image: url(../img/worker-1024.png);
  }

  .about-content-aside__footer {
    background-image: url(../img/worker-footer-1024.png);
    width: 924px;
    height: 173px;
    margin-bottom: -28px;
    padding-left: 44px;
    padding-right: 49px;
  }

  .about-item:nth-child(2) {
    margin-top: 68px;
  }

  .about-item:last-child {
    margin-top: 40px;
  }

  .about-item {
    width: 924px;
    padding-left: 106px;
  }

  .about-item:nth-child(2) .about-item__content {
    margin-left: 62px;
  }

  .about-item:last-child .about-item__content {
    margin-left: 69px;
  }

  .work {
    margin-top: 60px;
  }

  .work__title {
    margin-left: -8px;
  }

  .work__list {
    margin-top: 36px;
    margin-left: -3px;
    height: 40px;
    border-top: solid #cacaca;
  }

  .work__content {
    padding-top: 39px;
    margin-left: -2px;
  }

  .work__item {
    border-top: solid #cacaca;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: -7px;
    padding-top: 5px;
    margin-left: 1px;
  }

  .work__item_active {
    border-color: #ff9900;
  }

  .work__desc {
    width: 47.3%;
  }

  .work-desc__btn {
    margin-top: 50px;
  }

  .work-desc__btn-left {
    padding-left: 37px;
  }

  .work-desc__text {
    width: auto;
  }

  .work__img {
    width: 437px;
    height: 689px;
    background-image: url(../img/workplace-1024.png);
    margin-right: 0;
  }

  .questions {
    margin-top: 59px;
  }

  .questions__list {
    margin-left: -5px;
  }

  .questions-item__title {
    font-size: 20px;
    line-height: 32px;
    width: 81%;
  }

  .questions-item:nth-child(5) .questions-item__title {
    padding-bottom: 28px;
  }

  .questions-item {
    margin-top: 22px;
  }

  .questions-item__border {
    width: 99.5%;
    bottom: 1px;
  }

  .questions__item:first-child .questions-item__border {
    margin-left: 5px;
    bottom: 0px;
  }

  .questions-item:nth-last-child(4) .questions-item__border {
    bottom: 17px;
  }

  .questions-item:nth-child(1) {
    margin-top: 21px;
  }

  .questions-item:nth-child(2) {
    margin-top: 48px;
  }

  .questions-item:nth-child(4) {
    margin-top: 20px;
  }

  .questions-item:nth-child(6) {
    margin-top: 37px;
  }

  .questions__control {
    margin: 0;
  }

  .questions-item:nth-child(2) .questions__control {
    margin-top: -6px;
  }

  .questions-item:nth-child(3) .questions__control {
    margin-top: 9px;
  }

  .questions-item:nth-child(4) .questions__control {
    margin-top: -5px;
  }

  .questions-item:nth-child(5) .questions__control {
    margin-top: 9px;
  }

  .questions-item:nth-child(6) .questions__control {
    margin-top: -6px;
  }

  .main {
    padding-bottom: 57px;
  }

  .footer {
    height: 630px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer__left {
    display: none;
  }

  .footer__center {
    margin: 0;
    padding-top: 10px;
    width: 534px;
  }

  .form__title {
    margin-left: -3px;
  }

  .form__btn {
    padding-left: 37px;
    padding-right: 37px;
  }

  .form__label {
    margin-right: -1px;
  }

  .footer__right {
    margin-left: 73px;
    margin-top: 0px;
    width: 315px;
  }

  .footer-right__logo {
    display: block;
  }

  .footer-nav {
    line-height: 36px;
    margin-top: -4px;
  }

  .footer-nav__link:nth-last-child(2)::after {
    content: "Политика конфиденциальности";
  }

  .footer-right__list {
    display: flex;
  }

}
