@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333;
	background-color: #E5E5E5;
}

.container {
	max-width: 1770px;
	margin: 0 auto;
}

.header {
  max-width: 1920px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding-left: 70px;
  padding-right: 86px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__item {
  display: block;
  margin-left: 71px;
  margin-top: 6px;
}

.header__item_width_wide{
  padding: 0 29px;
}
