@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'), url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'), url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin-bottom: 20px;
	padding-left: 180px;
}

.learn-tags {
	text-decoration: underline;
	color: #2f1ce4;
}

.main-container {
	/* удалить строку*/
	background-color: lightblue;
	margin: 0 auto;
	width: 1920px;
	color: #222020;
}

.container {
	/* удалить строку*/
	/* background-color: lightgray; */
	margin: inherit;
	width: 1180px;
	padding-top: 55px;
	padding-bottom: 30px;
}

.main-content {
	background-color: #222020;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skillbox {
	margin-bottom: 30px;
	font-size: 35px;
	font-weight: 500;
	font-style: normal;
}

.title-index {
	color: #fff;
	font-family: 'Graphik LCG', sans-serif;
	margin-bottom: 65px;
	font-weight: 500;
	font-size: 40px;
}

.title-h1 {
	margin-top: 100px;
	margin-bottom: 80px;
	padding-left: 100px;
	font-weight: 800;
	font-style: normal;
	font-size: 48px;
	/* color: #222020; */
}

.title-h2 {
	margin-top: 100px;
	margin-bottom: 25px;
	padding-left: 180px;
	font-size: 36px;
	color: #2f1ce4;
}

.course-program {
	margin-bottom: 50px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.course-program-background {
	position: absolute;
	background-color: #f7f7f7;
	left: 0;
	right: 0;
	height: 510px;
	z-index: -1;
}

.title-h2-program {
	margin-top: 0px;
}

.outer {
	margin-top: 50px;
}

.return {
	background-image: url(../img/return.png);
	background-position: center left;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 100px;
	text-align: right;
}

.list {
	padding-left: 200px;
	font-size: 18px;
}

.figure-tag {
	display: inline-block;
	margin: 50px 0;
	padding-left: 270px;
	text-align: center;
}

.img-tag {
	max-width: 530px;
}

table {
	border-collapse: collapse;
	margin-left: 100px;
	max-width: 1000px;
}

caption {
	margin-bottom: 20px;
}

th, td {
	border: #a0a0a0 1px solid;
	padding: 8px;
}

th {
	width: 50%;
}

td {
	font-size: 14px;
}

tfoot {
	text-align: center;
	font-weight: bold;
}

.download {
	display: inline-block;
	padding: 20px;
	background-color: #2f1ce4;
	color: #fff;
	border: 3px #2f1ce4;
	border-style: solid;
	width: 250px;
	margin-right: 20px;
	text-align: center;
}

.detail {
	display: inline-block;
	padding: 20px;
	background-color: rgba(10, 10, 10, 0);
	color: #fff;
	border: 3px #fff;
	border-style: solid;
	width: 250px;
	text-align: center;
}

.module {
	/* удалить строку*/
	/* background-color: #e8e8e8; */
	position: relative;
	margin: 60px auto 0;
	width: 1020px;
	height: 505px;
}

.module-left, .module-right {
	/* удалить строку*/
	background-color: #e8e8e8;
	display: inline-block;
	position: absolute;
	width: 480px;
	height: 505px;
	box-shadow: -3px 0px 24px 12px #e8e8e8;
}

.module-left {
	left: 0px;
}

.module-right {
	right: 0px;
}

.pictur {
	/* удалить строку*/
	background-color: #398b44;
	width: 480px;
	height: 180px;
}
